:root {
  --lightSil: #e2e2e2;
  --medSil: #a9a9a9;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --medSand: #a99f93;
  --darkSand: #6d6860;
  --black: #000000;
  --lightRed: #ff8686;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --green: #008000;
  --lightForest: #899168;
  --ltMedForest: #47532b;
  --dkMedForest: #2d321e;
  --darkForest: #11130b;
  --skyBlue: #408ae1;
  --medBlue: #185196;
  --darkBlue: #032c4b;
  --silverGradientUp: linear-gradient(to top, var(--lightSil), var(--darkSil));
  --silverGradientDown: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
  --sandGradientDown: linear-gradient(to bottom, var(--sand), var(--darkSand));
  --redGradientDown: linear-gradient(to bottom, var(--red), var(--darkRed));
  --greenGradientUp: linear-gradient(to top, var(--lightForest), var(--medForest));
  --greenGradientDown: linear-gradient(to bottom, var(--lightForest), var(--medForest));
  --blueGradientUp: linear-gradient(to top, var(--skyBlue), var(--darkBlue));
  --blueGradientDown: linear-gradient(to bottom, var(--skyBlue), var(--darkBlue));
}

h1, h2, .mylogo {
  font-family: 'Bilbo Swash Caps', cursive;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3, h4, h5, p, form, td, .adminButton, .alert, .authRemind, .button, .cancel, .committeeButton, .error, .hello, .navlink, .regRemind, .sideButton, .tableComm {
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  font-size: 16px;
}

.alert {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--lightRed);
  border: 3px solid var(--red);
  padding: 0 13px;
}

.authLogo {
  display: flex;
  justify-content: center;
}

.button {
  color: var(--lightSil);
  background: var(--greenGradientDown);
  border: 2px solid var(--darkForest);
  border-radius: 10px;
  margin: 5px 0 5px 0;
  box-shadow: 2px 2px 5px var(--darkForest);
}
.button:hover, .button:focus, .button:active, .button.active {
  color: var(--darkForest);
  background: var(--silverGradientDown);
}

.error {
  background-color: var(--red);
  font-weight: bolder;
  border-radius: 5px;
}

.loading {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
}

.loadLogo {
  margin-top: 50px;
  border: 2px solid var(--black);
  border-radius: 25px;
  max-width: 150px;
}

.login {
  color: var(--skyBlue);
}
.login:hover, .login:active {
  color: var(--medBlue);
}
.login:visited {
  color: var(--skyBlue);
}

.nomargin {
  margin: 0;
  padding: 0;
}