:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --medSand: #a99f93;
  --darkSand: #6d6860;
  --black: #000000;
  --lightRed: #ff8686;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --green: #008000;
  --lightForest: #899168;
  --ltMedForest: #47532b;
  --dkMedForest: #2d321e;
  --darkForest: #11130b;
  --skyBlue: #408ae1;
  --medBlue: #185196;
  --darkBlue: #032c4b;
}

h1, h2 {
  font-family: 'Bilbo Swash Caps', cursive;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3, h4, h5, p, .regRemind, .alert, .cancel, .error {
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  font-size: 16px;
}

.button {
  color: var(--lightSil);
  background: linear-gradient(to bottom, var(--lightForest), var(--dkMedForest));
  border: 2px solid var(--darkForest);
  border-radius: 10px;
  margin: 5px 0 5px 0;
  font-family: "Open Sans Condensed", sans-serif;
  box-shadow: 2px 2px 5px var(--darkForest);
}
.button:hover {
  color: var(--darkForest);
  background: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
}
.button:focus {
  color: var(--darkForest);
  background: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
}
.button.active {
  color: var(--darkForest);
  background: linear-gradient(to top, var(--lightSil), var(--darkSil));
}

.loading {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
}

.loadLogo {
  margin-top: 50px;
  border: 2px solid var(--black);
  border-radius: 25px;
  max-width: 150px;
}

.authLogo {
  display: flex;
  justify-content: center;
}

.login {
  color: var(--skyBlue);
}
.login:hover {
  color: var(--medBlue);
}
.login:active {
  color: var(--medBlue);
}
.login:visited {
  color: var(--skyBlue);
}