.button {
  color: #e2e2e2;
  background-color: linear-gradient(180deg, #899168, #2d321e);
}

.loading {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
}

.loadLogo {
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 25px;
  max-width: 150px;
}