h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 54px;
}

h3 {
  font-family: "Open Sans Condensed", sans-serif;
}

h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

.myConfs {
  text-align: center;
}

.regRemind {
  color: #408ae1;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
}

.green {
  color: green;
  width: 50%;
}

.red {
  color: red;
  width: 50%;
}

.error {
  font-weight: 700;
}