:root {
  --red: #ff0000;
  --green: #008000;
  --ltMedForest: #47532b;
}

.green {
  color: var(--green);
  width: 50%;
}

.red {
  color: var(--red);
  width: 50%;
}

.error {
  font-weight: 700;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.myConfs, .regRemind {
  text-align: center;
}

.regRemind {
  color: var(--ltMedForest);
  font-weight: bolder;
}