:root {
  --lightSil: #e2e2e2;
  --medSil: #a9a9a9;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --black: #000000;
  --lightForest: #899168;
  --medForest: #2d321e;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --silverGradientDown: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
  --redGradientDown: linear-gradient(to bottom, var(--red), var(--darkRed));
  --greenGradientDown: linear-gradient(to bottom, var(--lightForest), var(--medForest));
}

td {
  border: 1px solid var(--black);
}

.adminCheck, .center {
  text-align: center;
  vertical-align: middle;
}

.allergyWarn {
  display: flex;
  justify-content: flex-end;
  color: var(--red);
}

.instr {
  display: flex;
  align-items: center;
}

.schedCells {
  min-width: 200px;
  min-height: 50px;
}

.subhead {
  color: var(--medSil);
  margin-bottom: 0;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
}

.tableComm {
  font-size: 24px;
  border: none;
}

.tbldelete, .tbledit {
  max-width: 20px;
}

.tbldeletebtn, .tbleditbtn {
  color: var(--sand);
  background: var(--greenGradientDown);
  float: right;
  max-width: 40px;
  padding: 6px;
}

.tbldeletebtn:hover {
  background: var(--redGradientDown)
}

.tbleditbtn:hover {
  background: var(--silverGradientDown)
}

.tHead {
  cursor: pointer;
}