td {
  border: 1px solid black;
  font-family: "Open Sans Condensed", sans-serif;
}

.tHead {
  cursor: pointer;
}

.center {
  text-align: center;
}

.subhead {
  color: darkgray;
  margin-bottom: 20px;
}

.adminCheck {
  text-align: center;
}

.tableComm {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  border: none;
}