:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --lightForest: #899168;
  --medForest: #2d321e;
  --darkRed: #6a0e00;
}

td {
  border: 1px solid black;
  font-family: "Open Sans Condensed", sans-serif;
}

.tHead {
  cursor: pointer;
}

.center {
  text-align: center;
}

.instr {
  display: flex;
  align-items: center;
}

.subhead {
  color: darkgray;
  margin-bottom: 0;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
}

.adminCheck {
  text-align: center;
}

.tableComm {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  border: none;
}

.tbldelete, .tbledit {
  max-width: 20px;
}

.tbleditbtn {
  color: var(--sand);
  background: linear-gradient(to bottom, var(--lightForest), var(--medForest));
  float: right;
  max-width: 40px;
  padding: 6px;
}
.tbleditbtn:hover {
  background: linear-gradient(to bottom, var(--lightSil), var(--darkSil))
}

.tbldeletebtn {
  color: var(--sand);
  background: linear-gradient(to bottom, var(--lightForest), var(--medForest));
  float: right;
  max-width: 40px;
  padding: 6px;
}
.tbldeletebtn:hover {
  background: linear-gradient(to bottom, red, var(--darkRed))
}