:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --darkSand: #6d6860;
  --black: #000000;
  --lightRed: #ff8686;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --lightForest: #899168;
  --ltMedForest: #47532b;
  --dkMedForest: #2d321e;
  --darkForest: #11130b;
  --skyBlue: #408ae1;
  --medBlue: #185196;
  --darkBlue: #032c4b;
  --silverGradientDown: linear-gradient(
    to bottom,
    var(--lightSil),
    var(--darkSil)
  );
  --redGradientDown: linear-gradient(to bottom, var(--red), var(--darkRed));
  --greenGradientUp: linear-gradient(
    to top,
    var(--lightForest),
    var(--medForest)
  );
  --greenGradientDown: linear-gradient(
    to bottom,
    var(--lightForest),
    var(--medForest)
  );
  --blueGradientUp: linear-gradient(to top, var(--skyBlue), var(--darkBlue));
  --blueGradientDown: linear-gradient(
    to bottom,
    var(--skyBlue),
    var(--darkBlue)
  );
}

a {
  color: var(--medBlue);
}
a:hover,
a:active,
a:visited {
  color: var(--ltMedForest);
}

h2,
h4 {
  margin: 13px 0 0 13px;
}

p {
  margin-left: 13px;
  font-weight: 600;
}

.cancel {
  color: var(--black);
  font-weight: 700;
  background-color: var(--lightRed);
  border: 3px solid var(--red);
  padding: 0 13px;
}

.cardTitle,
.cardTitleKeynote {
  color: var(--sand);
  border-radius: 11px 11px 0 0;
  margin-right: -25px;
}

.cardTitle {
  background: var(--greenGradientUp);
}

.cardTitleKeynote {
  background: var(--blueGradientUp);
}

.delete {
  max-width: 25px;
}

.deletebtn {
  color: var(--sand);
  background: var(--greenGradientDown);
  float: right;
  margin: 13px;
}
.deletebtn:hover {
  background: var(--redGradientDown);
}

.infoCard {
  background: var(--silverGradientDown);
  border: 2px solid var(--darkForest);
  border-radius: 12px;
  margin: 5px 0;
  padding-right: 25px;
}

.infoCardBody {
  color: var(--darkForest);
  margin: 5px 0;
}

.org {
  margin-left: 50px;
}

.presPic {
  display: flex;
  justify-content: flex-end;
}

.presPicStyle {
  width: 100px;
  border: 2px solid var(--darkForest);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--darkForest);
}

.profilePic {
  border-radius: 50%;
  margin: 5px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.sched,
.schedBlue {
  color: var(--darkForest);
  background: var(--silverGradientDown);
  border: 2px solid var(--darkForest);
  border-radius: 7px;
  margin: 4px;
  padding: 15px;
  min-width: 190px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sched {
  color: var(--darkForest);
  background: var(--silverGradientDown);
  border: 2px solid var(--darkForest);
}

.schedBlue {
  color: var(--lightSil);
  background: var(--blueGradientDown);
}

.textTight {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 32px;
}

.userInfo {
  margin-left: 10px;
}
