:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --sand: #cfbfa5;
  --black: #000000;
  --lightRed: #ff8686;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --lightForest: #899168;
  --ltMedForest: #47532b;
  --dkMedForest: #2d321e;
  --darkForest: #11130b;
  --skyBlue: #408ae1;
  --darkBlue: #032c4b;
}

h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  margin: 13px 0 0 13px;
}

p {
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 13px;
  font-weight: 600;
}

a {
  color: var(--ltMedForest);
}
a:hover {
  color: var(--dkMedForest);
}
a:active{
  color: var(--dkMedForest);
}
a:visited {
  color: var(--dkMedForest);
}

.infoCard {
  background: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
  border: 2px solid var(--darkForest);
  border-radius: 12px;
  margin: 5px 0;
  padding-right: 25px;
}

.cardTitle {
  color: var(--sand);
  background: linear-gradient(to top, var(--lightForest), var(--medForest));
  border-radius: 11px 11px 0 0;
  margin-right: -25px;
}

.cardTitleKeynote {
  color: var(--sand);
  background: linear-gradient(to top, var(--skyBlue), var(--darkBlue));
  border-radius: 11px 11px 0 0;
  margin-right: -25px;
}

.delete {
  max-width: 25px;
}

.deletebtn {
  color: var(--sand);
  background: linear-gradient(to bottom, var(--lightForest), var(--medForest));
  float: right;
  margin: 13px;
}
.deletebtn:hover {
  background: linear-gradient(to bottom, var(--red), var(--darkRed))
}

.org {
  margin-left: 50px;
}

.infoCardBody {
  color: var(--darkForest);
  font-family: "Open Sans Condensed", sans-serif;
  margin: 5px 0;
}

.title {
  width: 100%;
  font-family: 'Bilbo Swash Caps', cursive;
}

.userCard {
  color: var(--darkForest);
  border: 2px solid var(--darkForest);
  border-radius: 12px;
  background: linear-gradient(to top, var(--lightSil), var(--darkSil));
}

.profilePic {
  border-radius: 50%;
  margin: 5px;
}

.userInfo {
  margin-left: 10px;
}

.userName {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 48px;
}

.userEmail {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}

.alert {
  color: var(--black);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--lightRed);
  border: 3px solid var(--red);
  padding: 0 13px;
}

.cancel {
  color: var(--black);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  background-color: var(--lightRed);
  border: 3px solid var(--red);
  padding: 0 13px;
}

.error {
  background-color: var(--red);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  border-radius: 5px;
}

.presPic {
  display: flex;
  justify-content: flex-end;
}

.presPicStyle {
  width: 100px;
  border: 2px solid var(--darkForest);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--darkForest);
}