.userCard {
  color: #11130b;
  border: 2px solid #11130b;
  border-radius: 12px;
  background: linear-gradient(to top, #e2e2e2, #878992);
}

.profilePic {
  border-radius: 50%;
  margin: 5px;
}

.userInfo {
  margin-left: 10px;
}

.userName {
  font-family: "Romanesco", cursive;
  font-size: 48px;
}

.userEmail {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}