:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --red: #ff0000;
  --darkRed: #6a0e00;
  --lightForest: #899168;
  --medForest: #2d321e;
  --silverGradientUp: linear-gradient(to top, var(--lightSil), var(--darkSil));
  --silverGradientDown: linear-gradient(to bottom, var(--lightSil), var(--darkSil));
  --redGradientDown: linear-gradient(to bottom, var(--red), var(--darkRed));
  --greenGradientUp: linear-gradient(to top, var(--lightForest), var(--medForest));
  
}

.modal {
  opacity: 1;
  display: flex!important;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalBody {
  background: var(--silverGradientUp);
  border-radius: 0 0 10px 10px;
}

.modal-content {
  border: 1px solid var(--lightSil);
  border-radius: 10px;
}

.modalFooter {
  padding: 0;
  border: 0;
}

.modalHead, .modalHeadConf, .modalTitle {
  display: flex;
  align-items: center;
}

.modalHead, .modalHeadConf {
  color: var(--lightSil);
  border-radius: 10px 10px 0 0;
}

.modalHead {
  background: var(--greenGradientUp);
}

.modalHeadConf {
  background: var(--redGradientDown);
}