:root {
  --lightSil: #e2e2e2;
  --darkSil: #878992;
  --darkRed: #6a0e00;
  --lightForest: #899168;
  --medForest: #2d321e;
}

h3 {
  font-family: "Open Sans Condensed", sans-serif;
}

.modal {
  opacity: 1;
  display: flex!important;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  border: 1px solid var(--lightSil);
  border-radius: 10px;
}

.modalHead {
  color: var(--lightSil);
  background: linear-gradient(to top, var(--lightForest), var(--medForest));
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.modalTitle {
  display: flex;
  align-items: center;
}

.modalBody {
  background: linear-gradient(to top, var(--lightSil), var(--darkSil));
  border-radius: 0 0 10px 10px;
}

.modalFooter {
  padding: 0;
  border: 0;
}

.modalHeadConf {
  color: var(--lightSil);
  background: linear-gradient(to bottom, red, var(--darkRed));
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}