.navbar {
  background: linear-gradient(to top, #899168, #2d321e);
  font-size: 16px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  top: 0;
}

.pineTree {
  max-width: 75px;
  border: 2px solid #b4b4b4;
  border-radius: 25%;
  margin-right: 5px;
}

.hello {
  font-family: "Open Sans Condensed", sans-serif;
  color: #e2e2e2;
  display: flex;
  justify-self: flex-start;
}

.mylogo {
  font-family: "Romanesco", cursive;
  font-size: 24px;
  color: #cfbfa5;
  justify-self: flex-start;
}

.navobj {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.navtype {
  display: inline;
}
.mylogo:hover {
  color: #a99f93;
}
.mylogo:active {
  color: #a99f93;
}
.mylogo:visited {
  color: #a99f93;
}

.placelink {
  margin-right: 24px;
  /* display: flex;
  justify-self: flex-start; */
}

.navlink {
  display: inline;
  margin-left: 6px;
  color: #cfbfa5;
  font-family: "Open Sans Condensed", sans-serif;
}
.navlink:hover {
  color: #a99f93;
}
.navlink:active {
  color: #a99f93;
}
.navlink:visited {
  color: #a99f93;
}

.auth {
  justify-self: flex-end;
}

.toggle {
  color: #cfbfa5;
  background: linear-gradient(to bottom, #899168, #2d321e);
  position: absolute;
  right: 10px;
}
