:root {
  --sand: #cfbfa5;
  --black: #000000;
  --medForest: #2d321e;
  --lightRed: #ff8686;
  --red: #ff0000;
  --skyBlue: #408ae1;
}

form {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
}

.formCard {
  background-color: var(--sand);
  border: 5px solid var(--medForest);
  border-radius: 15px;
  padding: 0 15px;
}

.rowSpace {
  margin-bottom: 12px;
}

.alert {
  color: var(--black);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--lightRed);
  border: 3px solid var(--red);
  padding: 0 13px;
}

.red {
  color: var(--red);
}

.authRemind {
  color: var(--skyBlue);
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
}

.error {
  background-color: var(--red);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  border-radius: 5px;
}