form {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
}

.formCard {
  background-color: #cfbfa5;
  border: 5px solid #2d321e;
  border-radius: 15px;
  padding: 0 15px;
}

.rowSpace {
  margin-bottom: 12px;
}

.alert {
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: #ff8686;
  border: 3px solid red;
  padding: 0 13px;
}

.red {
  color: red;
}

.authRemind {
  color: #408ae1;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
}

.error {
  background-color: red;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  border-radius: 5px;
}