.button {
  color: #e2e2e2;
  background: linear-gradient(to bottom, #899168, #2d321e);
  border: 2px solid #11130b;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}

.alert {
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: #ff8686;
  border: 3px solid red;
  padding: 0 13px;
}